/* Global Start */

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --page-cover-blurClr: rgb(0 0 0 / 0.5);
  --section-padding: 5rem;
  --content-mt: 4rem;
}

i {
  font-size: 5rem;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  font-size: 1rem;
  padding: 10px;
  background-color: #fff;
}

.material-symbols-outlined {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  cursor: default;
}

.container {
  width: 90%;
  margin-inline: auto;
}

/* Special Heading  */
.special-heading {
  text-align: center;
  display: grid;
  place-items: center;
  row-gap: 30px;
}

.special-heading h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 100;
}

.special-heading .shape {
  position: relative;
  display: inline-block;
  height: 2px;
  width: 120px;
  background-color: #333;
}

.special-heading .shape::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.special-heading p {
  color: #666;
  padding-inline: 1rem;
}

/* Global End */

/* ---------------------- */

header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  position: relative;
}

header .container {
  border-bottom: 1px solid #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container {
  content: "";
}

header nav .logo img {
  height: 32px;
}

header nav .links {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

header nav .links .humberger-icon:hover + ul {
  display: flex;
}

header nav .links ul {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100px;
  background-color: var(--page-cover-blurClr);
  width: 100%;
}

header nav .links ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  padding-inline: 10px 0;
  padding-block: 8px;
  width: 100%;
  position: relative;
}
header nav .links ul li:first-of-type a,
header nav .links ul li:not(:first-of-type) a:hover {
  color: var(--main-color);
}

header nav .links ul li:first-of-type a::before,
header nav .links ul li:not(first-of-type) a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--main-color);
}

@media (min-width: 688px) {
  header nav .links .humberger-icon {
    display: none;
  }
  header nav .links ul {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
  }
  header nav .links ul li a {
    padding-inline: 10px;
    padding-block: 0;
    height: 100px;
  }
}

@media (min-width: 992px) {
  header nav .links ul {
    column-gap: 25px;
  }
}

header nav .links .search-icon {
  border-left: 1px solid #fff;
  padding-inline: 10px 0;
}

/* ----------------------------- */

#page-cover {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../imgs/landing.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#page-cover::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--page-cover-blurClr);
  z-index: -1;
}
/* ------------- */
#page-cover .scroll-x {
  display: none;
}
#page-cover .scroll-x span {
  position: absolute;
}

#page-cover .scroll-x span:first-child {
  left: 10px;
}

#page-cover .scroll-x span:last-child {
  right: 10px;
}
/* ------------ */
#page-cover .content {
  width: 100%;
  color: #fff;
  background-color: var(--transparent-color);
  display: flex;
  flex-direction: column;
}
#page-cover .content > * {
  width: 90%;
  margin-inline: auto;
}

#page-cover .content h2 {
  line-height: 1.3;
  font-size: 2rem;
  margin-block: 2rem 1rem;
}

#page-cover .content p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

@media (min-width: 688px) {
  #page-cover .scroll-x {
    display: block;
  }
  #page-cover .content {
    width: 50%;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  header nav .links ul li:first-of-type a::before,
  header nav .links ul li:not(first-of-type) a:hover::before {
    bottom: -1px;
  }
  header .container,
  header nav .links ul li a {
    height: 70px;
  }
  #page-cover .content h2 {
    font-size: 1.25rem;
    margin-block: 0.8rem 0.2rem;
  }
  #page-cover .content p {
    margin-bottom: 1rem;
  }
  #page-cover .content {
    width: 100%;
  }
}

@media (min-width: 1312px) {
  #page-cover .content h2 {
    margin-block: 3rem 2rem;
  }
  #page-cover .content p {
    margin-bottom: 3rem;
    text-align: justify;
  }
}

/* --------------- */
#page-cover .dotted-icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

#page-cover .dotted-icon span {
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-inline: 5px;
}

#page-cover .dotted-icon span:nth-of-type(2) {
  background-color: var(--main-color);
  border: 0;
}

/* Section of Services */
/* 
Services Section Tree:
#services
  .container
    .special-heading
      h3
      .shape
      p
    article
      .srvs.so$
        .icon 
          span
        .text
          h3
          p
*/

#services .container {
  padding-block: var(--section-padding);
}

#services article {
  margin-top: var(--content-mt);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 80px 20px;
}

#services article .srvs {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#services article .srvs .icon span {
  color: #000;
  font-size: 3.5rem;
  font-weight: 700;
}
#services article .srvs:not(:first-of-type) .icon span {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

#services article .text h3 {
  color: var(--main-color);
  margin-bottom: 1rem;
}
#services article .text p {
  text-align: center;
  color: #666;
}

@media (min-width: 688px) {
  #services article .srvs {
    text-align: left;
    gap: 30px;
  }
  #services article .srvs .icon {
    align-self: flex-start;
  }
  #services article .srvs {
    flex-direction: row;
  }
  #services article .text p {
    text-align: left;
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  #services article {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #services article .srvs::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-bottom: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    left: 0;
    bottom: 0;
  }
  #services article .srvs::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-top: 3px solid var(--main-color);
    border-right: 3px solid var(--main-color);
    right: 0;
    top: 0;
  }
}

/* Section Our Design */

#our-design {
  position: relative;
  overflow: hidden;
  background: url(../imgs/design-features.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  align-items: center;
}
#our-design img {
  position: absolute;
  display: none;
}

@media (min-width: 992px) {
  #our-design img {
    display: block;
    bottom: -60px;
    left: 25%;
    transform: translateX(-50%);
  }
  #our-design .content {
    max-width: 50%;
    margin-left: auto;
  }
}

#our-design .content {
  width: 100%;
  background-color: var(--transparent-color);
  color: #fff;
  padding-left: 3rem;
}

#our-design .content h3 {
  text-transform: uppercase;
  font-size: 1.45rem;
  font-weight: 500;
  padding-block: 2rem;
}

#our-design .content ul {
  padding-block-end: 2rem;
}
#our-design .content ul li {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
#our-design .content ul li:not(:last-of-type) {
  margin-block-end: 1rem;
}
#our-design .content ul li span:last-of-type {
  text-transform: capitalize;
}
/* Portfolio */
#portfolio .container {
  width: 100%;
  padding-block: var(--section-padding);
}
#portfolio .content {
  margin-top: var(--content-mt);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

#portfolio .content .scroll-btn .btn {
  text-transform: capitalize;
}
#portfolio .content .scroll-btn .btn:first-of-type {
  background-color: var(--main-color);
  color: #fff;
}

#portfolio .content .grid-imgs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

@media (min-width: 688px) {
  #portfolio .content .grid-imgs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 1312px) {
  #portfolio .content .grid-imgs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

#portfolio .content .grid-imgs .pic {
  position: relative;
  overflow: hidden;
}
#portfolio .content .grid-imgs .pic img {
  display: block;
  max-width: 100%;
  transition: 0.4s transform;
}

#portfolio .content .grid-imgs .pic:hover img {
  transform: scale(1.2) rotate(8deg);
}

#portfolio .content .grid-imgs .pic .desc {
  position: absolute;
  padding-block: 10px;
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 100%;
  transition: 0.4s transform;
}

#portfolio .content .grid-imgs .pic:hover .desc {
  transform: translateY(-100%);
}
#portfolio .content .grid-imgs .pic .desc p {
  text-transform: capitalize;
  padding-left: 1rem;
}
#portfolio .container .grid-imgs .desc p:last-of-type {
  color: var(--main-color);
}

#portfolio .content .scroll-down .btn {
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  padding: 0.9rem;
}

/* Video Section Tree:
#video
  video
  .content 
    h3
    p
    button.btn
*/

#video {
  position: relative;
}

#video::before {
  content: "";
  position: absolute;
  background-color: rgb(0 0 0 / 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#video video {
  display: block;
  max-width: 100%;
}

#video .content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: #fff;
  width: 100%;
  text-align: center;
}

#video .content h3 {
  margin-block: 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

#video .content p {
  text-transform: capitalize;
  font-size: 1.15rem;
}

#video .content .btn {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  padding: 13px 16px;
  margin-block: 1rem 2rem;
}

@media (min-width: 992px) {
  #video .content {
    padding-top: 4rem;
  }

  #video .content .btn {
    margin-top: 4rem;
  }
}

/* About Us Section Tree 

    #about
      .container
        picture 
        .content
            img
          .grid
            div
              span.material-symbols-outlined
              span
              span
*/

#about .container {
  padding-block: var(--section-padding);
  width: 100%;
  position: relative;
}

#about picture img {
  max-width: 100%;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 30%);
}

#about .content {
  position: relative;
  background: url(../imgs/stats.png) no-repeat;
  background-size: cover;
  padding: var(--section-padding) 2rem;
  z-index: 1;
}

#about .content::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}

#about .content .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--transparent-color);
}

#about .content .grid div {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 3rem;
}
#about .content .grid div span:first-of-type {
  height: 45px;
  width: 45px;
  background-color: #000;
  border-radius: 50%;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
}

#about .content .grid div span:nth-child(2) {
  font-size: 4rem;
  font-weight: 900;
}

#about .content .grid div span:last-child {
  text-transform: capitalize;
}

@media (min-width: 992px) {
  #about .content .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1312px) {
  #about .content {
    padding: var(--section-padding);
  }
  #about .content .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Our Skills Tree 
#our-skills
  .container
    .testimonials
      .special-heading-2
          h3
          p
      .users-tts
        .user
          .user-img
            img
              
          .user-desc
            p
            p
      .scrollX
        span*3
    .skills
      .special-heading-2
        h3
        p
    .users-skills
      .skill-1
        h4
        .progress
          span data-progress="90%">

*/

#our-skills .container {
  padding-block: var(--section-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

@media (min-width: 992px) {
  #our-skills .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

#our-skills .special-heading-2 {
  text-align: center;
}

#our-skills .special-heading-2 h3 {
  text-transform: uppercase;
  font-size: 1.35rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

#our-skills .special-heading-2 p {
  color: #666;
}
#our-skills .testimonials .users-tts {
  padding-block: 2rem;
}
#our-skills .testimonials .users-tts .user {
  display: flex;
  column-gap: 30px;
  margin-block: 2rem;
}

#our-skills .testimonials .users-tts .user .user-img img {
  display: block;
  max-width: 100%;
  min-width: 100px;
  width: 100px;
  border-radius: 50%;
}

#our-skills .testimonials .users-tts .user .user-desc {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

#our-skills .testimonials .users-tts .user .user-desc p:last-of-type {
  align-self: flex-end;
  font-size: 0.9rem;
  color: #777;
}

#our-skills .testimonials .scrollX {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

#our-skills .testimonials .scrollX span {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid #777;
}

#our-skills .testimonials .scrollX span:nth-child(2) {
  background-color: var(--main-color);
  border: 0;
}

#our-skills .skills .users-skills {
  padding-block: 2rem;
}

#our-skills .skills .users-skills > div {
  margin-block: 1rem;
}
#our-skills .skills .users-skills div h4 {
  text-transform: uppercase;
  font-weight: 100;
}

#our-skills .skills .users-skills div .progress {
  margin-top: 0.5rem;
  height: 30px;
  width: 100%;
  background-color: #ccc;
  border-radius: 1px;
}

#our-skills .skills .users-skills div .progress span {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--main-color);
}

#our-skills .skills .users-skills div .progress span::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: transparent;
  border-top-color: #000;
  right: -7px;
  top: -15px;
}

#our-skills .skills .users-skills div .progress span::after {
  content: attr(data-progress);
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px;
  left: 100%;
  bottom: 100%;
  transform: translate(calc(-50% + -1px), -15px);
}

#our-skills .skills .users-skills .skill-1 .progress span {
  width: 90%;
}

#our-skills .skills .users-skills .skill-2 .progress span {
  width: 85%;
}

#our-skills .skills .users-skills .skill-3 .progress span {
  width: 80%;
}

#our-skills .skills .users-skills .skill-4 .progress span {
  width: 90%;
}
